body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr {
    color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.skill-row {
    margin-top: 20px;
    width: 50%;
    margin: 150px auto 150px auto;
    text-align: left;
    line-height: 1.5;
}

a {
    color: #11999E;
}

.top-container {

    position: relative;
    background-color: #eeeeee;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.pictpfp {
    border-radius: 50%;
}

.pictpro {
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.pictsis {
    width: 25%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}

.weightonormal {
    font-weight: normal;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 40px;
}

.footer-link {
    color: #11999E;
    margin: auto 20px auto 20px;
    text-decoration: none;
}

.copy {
    color: #EAF6F6;
}


.BUTTON_YPY {
    background: #11CDDC;
    background-image: -webkit-linear-gradient(top, #11CDDC, #1199E9);
    background-image: -moz-linear-gradient(top, #11CDDC, #1199E9);
    background-image: -ms-linear-gradient(top, #11CDDC, #1199E9);
    background-image: -o-linear-gradient(top, #11CDDC, #1199E9);
    background-image: linear-gradient(to bottom, #11CDDC, #1199E9);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 22px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: sans-serif;
    width: 151px;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    box-shadow: 0px 1px 20px 0px #000000;
    -webkit-box-shadow: 0px 1px 20px 0px #000000;
    -moz-box-shadow: 0px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #66BFBF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 60px;
}

.BUTTON_YPY:hover {
    border: solid #FFFFFF 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}